@media screen and (max-width:576px) {
    .nav_banner-section{
        background-image: none;
    }
    .nav-con{
        flex-direction: column;
    }
    .nav-item-con ul{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .nav-item-con{
        flex-direction: column;
        gap: 20px;
    }

    .banner_con{
        flex-direction: column-reverse;
    }
    .banner-button-con{
        flex-direction: column;
    }
    .banner-title{
        text-align: center;
    }
    .banner-text{
        margin:0 20px;
        margin-top: 30px;
        text-align: justify;
    }
    .banner-button-con{
        align-items: center;
    }

.about-con{
    margin: 40px 30px;
}
    .about-info-con{
        flex-direction: column;
        gap: 20px;
    }

    .about-discription{
        text-align: justify;
    }

    .what-do-card-con{
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
    .what-do-card{
        margin: auto;
    }
    .what-do-con{
    margin: 40px 40px;
}
}









/* medium */
@media screen and (min-width:576px) and (max-width:992px){
    .nav-con{
        flex-direction: column;
        
    }

    .nav-item-con{
        margin-top: 30px;
    }

.nav_banner-section{
    background-color: var(--banner-color);
    background-image: url(../img/developer.png);
    background-size: 80px;
    
}



 .what-do-card-con{
        grid-template-columns:repeat(2, 1fr) ;
        margin-top: 40px;
        padding: 0 150px;
    }
    .what-do-card{
        margin: auto;
    }


}